.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #303240;
  height: 60px;
  color: white;
}

.footer-info {
  float: right;
  padding-top: 23px;
  padding-right: 60px;
}
