<header>
  <div class="logo-title-container">
    <span class="material-icons md-light md-48">coronavirus</span>
  <p class="video-course-title">Video Course</p>
  </div>

  <div class="authorization-container">

    <div class="login-container">
    <span class="material-icons md-light md-24">account_box</span>
    <span class="login">User Login</span>
    </div>

    <div class="logout-container">
    <span class="material-icons md-light md-24">login</span>
    <span class="logout">Log Out</span>
    </div>

  </div>
</header>
