.video-course-title {
  color: #FFFFFF;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  background: #303240;
  height: 100px;
  width: 100%;
}

.logo-title-container {
  display: flex;
  margin-left: 50px;
  padding-top: 30px;
}

.material-icons.md-48.md-light {
  font-size: 48px;
  color: white;
}

.material-icons.md-light.md-24 {
  font-size: 24px;
  color: white;
}

.authorization-container {
  display: flex;
  padding-top: 40px;
  padding-right: 100px;

  .login-container {
    display: flex;
    .login {
      color: #FFFFFF;
      padding-top: 3px;
      padding-left: 5px;
    }
  }

  .logout-container {
    display: flex;
    padding-left: 35px;
    .logout {
      color: #FFFFFF;
      padding-top: 3px;
      padding-left: 5px;
    }
  }
}
